[submodule "Quipo/vendor/spdlog"]
	path = Quipo/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Quipo/vendor/GLFW"]
	path = Quipo/vendor/GLFW
	url = https://github.com/SpiritSeeker/glfw
